# Gradle
.gradle
/.gradle
/build-logic/.gradle

# Idea
.idea
/.idea

# Build
/build
/build-logic/convention/build

# Properties
local.properties
/local.properties

# Mac Specific Files
.DS_Store

# Apk
*.apk

# App Bundle
*.aab

# Other Folders
/captures

# Other Files
*.iml
.externalNativeBuild
.cxx
